:root {
    /* size */
    --button-width: 550px;
    --button-height: 280px;
    --toggle-dia: 255px;
    --button-toggle-offset: calc( (var(--button-height) - var(--toggle-dia)) /2);
    --toggle-shadow-offset: 10px;
    --toggle-active-wider: 333px;
    /* color */
    --color-grey: #e9e9e9;
    --color-darkgrey: #39393d;
    --color-green: #30d158;
}

button {
    margin: 20px;
    width: 50px;
    height: 50px;
    background-color: #e8e6e6;
    border-radius: 200px;
}

span::after {
    content: "";
    display: inline-block;
    width: var(--toggle-dia);
    height: var(--toggle-dia);
    background-color: #fff;
    border-radius: calc( var(--toggle-dia) /2);
    margin-top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc( var(--toggle-shadow-offset) *4) rgba(0, 0, 0, 0.2);
    transition: .3s all ease-in-out;
}

span {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-darkgrey);
    border-radius: calc( var(--button-height) /2);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:checked+span {
    background-color: var(--color-green);
}

input[type="checkbox"]:checked+span::after {
    transform: translateX(calc( var(--button-width) - var(--toggle-dia) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc( var(--toggle-shadow-offset) *4) rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:active+span::after {
    width: var(--toggle-active-wider);
}

input[type="checkbox"]:checked:active+span::after {
    transform: translateX( calc( var(--button-width) - var(--toggle-active-wider) - var(--button-toggle-offset)));
}

#toggle {
    display: none;
}


/* @media(prefers-color-scheme:dark) {
    body {
        background-color: rgb(39, 38, 38)
    }
    span {
        background-color: var(--color-darkgrey);
    }
} */